<html>
  <head>

    {% load static %}
    {% include "app1/bootstrap.html" %}
    <title>Example HTML page</title>
    <script src="{%static 'chess.js'%}" /> </script>
    <link rel ="stylesheet" href="{%static 'chess.css' %}"/></link>
  </head>
  <body>
    {% include "app1/navigation.html" %}
    <h1>CINS 465: Assignment 4 by Juan Herrera</h1>
    <h1>History of Chess</h1>
    <p>Chess is a game that is played on a board with 16 pieces to your arsenal 8 of these pieces have unique ways that you can move them in order to capture the opposing teams king whilst defending your own king which is one of your 8 pieces that you must protect using the rest of your arsenal. Chess History: Chess has been around since the beginning of the 7th century which was different than modern day chess because it wasn't until the 13th century when the rules of the game were starting to be modified. It would take chess until the late 1800s when it was considered a sport and in 1886 Johannes Zukertort was pronounced the first official chess world champion</p>

  </body>
</html>
