<html>
  <head>
    	{% include "core/bootstrap.html" %}
      {% load static %}

  </head>
  <body>
		{% include "core/navigation.html" %}
    <h1>About</h1>
    <div class="col-2">
      <img src="{%static 'IMG_0549.JPG'%}" class="img-fluid" />
    </div>

    <ol>
			<li>First i started by following the plan of attack provided for us</li>
			<li>In the plan of attack i went through the first steps to implement the skeleton for my django project </li>
			<li>Once i had my skeleton ready i started by creating my templates for each view</li>
			<li>After my templates were created and defined it them in settings.py I created an html file for each application</li>
			<li>I then decided to create my static directory with all the sub directories i would use</li>
      <li>After my static was done I implemented the navigation bar</li>
      <li>Then i implemented the per user stuff which consists of join login and logout</li>
      <li>Then i decided i wanted to implement the tasks view to set up the fondation for my edit and delete buttons</li>
      <li>once i finished my tasks view i implemented the budget view</li>
      <li>after the budget i wrote the code to implement the graphs in the home section</li>
      <li>after that i wrote what i needed for my about page</li>
		</ol>
  </body>
</html>
