<html>
  <head>
    	{% include "core/bootstrap.html" %}
      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
          <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>

  <body>
		{% include "core/navigation.html" %}
    <h1>Organizer</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg jumbotron text-center">
          <h2>Tasks</h2>

          <div class="ct-chart ct-golden-section" id="tasks_pie"></div>
          <a class="btn btn-primary" href="/tasks/">Tasks</a>
        </div>
        <div class="col-lg jumbotron text-center">
          <h2>Budget</h2>
          <div class="ct-chart ct-golden-section" id="budget_bar"></div>
          <a class="btn btn-primary" href="/budget/">Budget</a>
        </div>
      </div>
    </div>

    <script>
/*    new Chartist.Pie('#tasks_pie', {
      series:[1,3],
      labels:['Completed', 'Pending']
    });
    new Chartist.Bar('#budget_bar',{
      series:[[200,150,500],[175,175,600]]
    });
*/
//      var getData=$.get({{ comp }});
//      getData.done(function(results){
//        is_completed={{ comp }};

        var data = {
          labels: ['Completed', 'Pending'],
          series:{{ comp }}
        }
        var myChart = new Chartist.Pie('#tasks_pie', data);

        var barData ={series:{{ ap }}}
        var barChart = new Chartist.Bar('#budget_bar', barData);
//      });

    </script>
  </body>

</html>
